# **Data Types and Structures Assignment**

###1. What are data structures, and why are they important
Data structures are specialized formats for organizing, processing, retrieving, and storing data. They help manage and organize data efficiently for various operations such as insertion, deletion, searching, and sorting. Efficient data structures are crucial for designing efficient algorithms and ensuring optimal performance in software applications.

###2. Explain the difference between mutable and immutable data types with examples
Mutable data types can be changed after they are created, while immutable data types cannot be changed once defined.

**Examples:**
- Mutable: `list`, `dict`, `set`
```python
my_list = [1, 2, 3]
my_list.append(4)  # Now [1, 2, 3, 4]
```
- Immutable: `int`, `float`, `str`, `tuple`
```python
my_str = "hello"
# my_str[0] = 'H'  # This will raise an error
```

###3. What are the main differences between lists and tuples in Python
- Lists are mutable; tuples are immutable.
- Lists use square brackets `[]`, while tuples use parentheses `()`.
- Lists are generally slower than tuples due to their mutability.
- Tuples are hashable (can be used as dictionary keys), lists are not.

###4. Describe how dictionaries store data
Dictionaries store data in key-value pairs. Internally, they use a hash table mechanism where keys are hashed and the corresponding values are stored at that hashed location. This enables fast lookups, insertions, and deletions.

###5. Why might you use a set instead of a list in Python
Sets are used when we need to store unique elements and perform operations like union, intersection, and difference efficiently. Unlike lists, sets automatically remove duplicates and are optimized for membership tests.

###6. What is a string in Python, and how is it different from a list
A string is a sequence of characters enclosed in quotes. It is immutable, meaning its contents cannot be altered after creation. A list, on the other hand, can hold elements of any data type and is mutable.

```python
my_str = 'hello'
my_list = ['h', 'e', 'l', 'l', 'o']
```

###7. How do tuples ensure data integrity in Python
Tuples are immutable, which means once created, their contents cannot be changed. This characteristic helps in maintaining data integrity, especially in scenarios where a constant set of values is needed throughout the program.

###8. What is a hash table, and how does it relate to dictionaries in Python
A hash table is a data structure that maps keys to values using a hash function. Python's dictionaries are built on hash tables. They provide fast access to elements based on keys by hashing them and storing in memory accordingly.

###9. Can lists contain different data types in Python
Yes, lists in Python can contain elements of different data types. Example:
```python
my_list = [1, 'hello', 3.14, True]
```

###10. Explain why strings are immutable in Python
Strings are immutable for performance and security reasons. Immutability allows string instances to be cached and reused, making memory management more efficient. It also ensures that once a string is created, it cannot be altered by accident or maliciously.

###11. What advantages do dictionaries offer over lists for certain tasks
Dictionaries provide fast access to values via keys (average-case O(1) time complexity). They're ideal when you need to associate values with unique identifiers (keys), whereas lists require linear search (O(n)) for element lookups.

###12. Describe a scenario where using a tuple would be preferable over a list
Tuples are preferable when you want to ensure the data cannot be changed, such as storing geographical coordinates (`latitude`, `longitude`) or dates. They can also be used as keys in dictionaries due to their immutability.

###13. How do sets handle duplicate values in Python
Sets automatically discard duplicate elements. For example:
```python
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}
```

###14. How does the “in” keyword work differently for lists and dictionaries
For lists, `in` checks whether a value exists among the list elements.
For dictionaries, `in` checks for the presence of a key (not value).

```python
'a' in ['a', 'b']  # True
'name' in {'name': 'John'}  # True
```

###15. Can you modify the elements of a tuple? Explain why or why not
No, you cannot modify tuple elements because tuples are immutable. Once created, their content cannot be changed, ensuring data safety and consistency.

###16. What is a nested dictionary, and give an example of its use case
A nested dictionary is a dictionary where values themselves are dictionaries. Useful for representing hierarchical data.
```python
data = {
  'person1': {'name': 'Alice', 'age': 30},
  'person2': {'name': 'Bob', 'age': 25}
}
```

###17. Describe the time complexity of accessing elements in a dictionary
Accessing an element by key in a dictionary has an average-case time complexity of O(1), due to the underlying hash table implementation.

###18. In what situations are lists preferred over dictionaries
Lists are preferred when:
- The order of elements matters.
- You need to iterate over a sequence.
- You’re storing simple sequences without needing key-value pairs.

###19. Why are dictionaries considered unordered, and how does that affect data retrieval
Before Python 3.7, dictionaries did not maintain insertion order. From Python 3.7 onward, dictionaries preserve order, but conceptually they are designed for fast access rather than sequential ordering.

###20. Explain the difference between a list and a dictionary in terms of data retrieval.
Lists retrieve data using integer indices and require sequential search (O(n)) for unknown values.
Dictionaries use keys and hash-based retrieval, offering faster access (O(1) average case).

## **Practical Questions**

###1. Write a code to create a string with your name and print it

In [2]:
name = 'Vibhu Bhardwaj'
print(name)

Vibhu Bhardwaj

###2. Write a code to find the length of the string "Hello World"

In [1]:
s = 'Hello World'
print(len(s))

11

###3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
s = 'Python Programming'
print(s[:3])

Pyt

###4. Write a code to convert the string "hello" to uppercase

In [4]:
s = 'hello'
print(s.upper())

HELLO

###5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
s = 'I like apple'
print(s.replace('apple', 'orange'))

I like orange

###6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

###7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

###8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

###9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

###10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [10]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

###11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [11]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

###12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [30]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

###13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [29]:
nums = (10, 20, 5, 15)
print(min(nums))

5

###14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [28]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

###15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [27]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

###16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [26]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

###17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [21]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

###18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [22]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

###19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [23]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

###20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [24]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

###21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [25]:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

###22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [20]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

###23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [19]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

###24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [18]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

###25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [17]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

###26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [16]:
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {'a': 1, 'b': 2}
print(lst)
print(tpl)
print(dct)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

###27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [15]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[12, 31, 59, 78, 80]

###28. Write a code to create a list with strings and print the element at the third index

In [14]:
lst = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(lst[3])

date

###29. Write a code to combine two dictionaries into one and print the result

In [13]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

###30. Write a code to convert a list of strings into a set

In [12]:
lst = ['apple', 'banana', 'apple', 'cherry']
unique_set = set(lst)
print(unique_set)

{'apple', 'cherry', 'banana'}